extends layouts/main.pug
block content
    .form__container
        form(action=routes.editProfile, method="post")
            label(for="passowrd") New Password
            input(name="passowrd",id="passowrd", type="passowrd")
            input(type="submit",value="update password")

